lab_2 Pawel Manka

In [10]:
import pandas as pd

In [51]:
with open("../original_data/weather.txt") as file:
    data = file.read()
    
split_data = data.split('\n')
# print(split_data)
for row in split_data:
    if(row[11:15] == "2010"):
        print(row[11:15])

2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010

In [35]:
mydata = pd.read_csv("../original_data/weather.txt")

In [38]:
mydata

     MX000017004195504TMAX  310  I  310  I  310  I  320  I  330  I  320  I  320  I  330  I  330  I  330  I  330  I  320  I  310  I  310  I  320  I  320  I  320  I  310  I  310  I  320  I  320  I  330  I  330  I  330  I  330  I  330  I  330  I  340  I  330  I  320  I-9999
0     MX000017004195504TMIN  150  I  150  I  160  I ...
1     MX000017004195504PRCP    0  I    0  I    0  I ...
2     MX000017004195505TMAX  310  I  310  I  310  I ...
3     MX000017004195505TMIN  200  I  160  I  160  I ...
4     MX000017004195505PRCP    0  I    0  I    0  I ...
...                                                 ...
1708  MX000017004201103TMIN-9999   -9999   -9999   -...
1709  MX000017004201103PRCP    0  S-9999       0  S ...
1710  MX000017004201104TMAX-9999     350  S-9999   -...
1711  MX000017004201104TMIN-9999     168  S-9999   -...
1712  MX000017004201104PRCP    0  S    0  S-9999   -...

[1713 rows x 1 columns]

In [37]:
for row in mydata:
    print(row[11:15])

1955