lab_2 Pawel Manka

1. Element Listy
    1.1. Podelement
    1.2. drugi element

In [1]:
import pandas as pd

In [19]:
with open("../original_data/weather.txt") as file:
    data = file.read()
    
split_data = data.split('\n')
# print(split_data)
data_year_2010 = []
month = ""
number_of_months = 0

#w poniższej pętli tworzę dane 5 miesięcy z 2010 roku. Nie są one na razie ułożone.
for row in split_data:
    if row[11:15] == "2010" :
        if month != row[15:17]:
            number_of_months += 1
        if number_of_months <= 5:
            data_year_2010.append(row)
            month = row[15:17]
            print(month)

            
# df_2010 = pd.DataFrame(data_year_2010)

01
01
01
02
02
02
03
03
03
04
04
04
05
05
05

In [54]:
#Następnie dane wiersze dzielę wg zmiennej na kolumny zgodnie z punktem 2.3 zawartym w pliku readme

id_ = 0 # to jest id które będzie przydatne do nowej tablicy
ID_station_lst = []
year_lst = []
month_lst = []
examined_data = []
sign_lst = []
value_lst = []
flague_lst = []
day_lst = []
    
for row in data_year_2010:
    #tworzę listy które w przyszłości będą kolumnami nowego df

    n = 1  #to jest numer dnia 
    i = 21 # i to zmienna która jest iteratorem po tablicy.
    
    while i != len(row):
        ID_station_lst.append(row[0:11])
        year_lst.append(row[11:15])
        month_lst.append(row[15:17])
        examined_data.append(row[17:21])
        sign_lst.append(row[i])
        i += 1
        value_lst.append(row[(i): (i+4)])
        i += 4
        flague_lst.append(row[(i): (i+3)])
        i += 3
        
        day_lst.append(n)
        n+= 1
        
# print(ID_col_lst)
# print(len(flague_lst))

In [55]:
tidied_data = {"ID_station" : ID_station_lst, "year" : year_lst, "month" : month_lst, "day" : day_lst, "examined_data": examined_data,
              "sign" : sign_lst , "value": value_lst, "flague": flague_lst, "day" : day_lst}


df = pd.DataFrame(tidied_data)
df

      ID_station  year month  day examined_data sign value flague
0    MX000017004  2010    01    1          TMAX    -  9999
1    MX000017004  2010    01    2          TMAX    -  9999
2    MX000017004  2010    01    3          TMAX    -  9999
3    MX000017004  2010    01    4          TMAX    -  9999
4    MX000017004  2010    01    5          TMAX    -  9999
..           ...   ...   ...  ...           ...  ...   ...    ...
460  MX000017004  2010    05   27          PRCP          0      S
461  MX000017004  2010    05   28          PRCP    -  9999
462  MX000017004  2010    05   29          PRCP         25      S
463  MX000017004  2010    05   30          PRCP          0      S
464  MX000017004  2010    05   31          PRCP    -  9999

[465 rows x 8 columns]